*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.scrolls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #f4f4f4;
    pointer-events: none;
    user-select: none;
    mix-blend-mode: difference;

}
.scrolls .center {
  font-size: 0.9rem;
}

footer{
    position: fixed;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

.smooth-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    min-height: 60px;
    font-size: 1rem;
    mix-blend-mode: difference;

  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .header ul li {
    padding: 1em;
  }
  .header ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
  }
  .header ul li a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
  }
  .header ul li a:hover::after {
    width: 100%;
    background-color: rgb(106, 255, 6);
  }
  .header ul li a:hover{
    color: rgb(106, 255, 6);
  }
  
section {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url('./1.jpg');
  background-size: cover;
  scroll-snap-align: center;
}
h1 {
    position: fixed;
    z-index: 1;
    text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;  
  font-size: 150px;
  user-select: none;
}

#title-one{
    top: 20%;
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    transform: scale(1, 2);
    mix-blend-mode: difference;

}
#title-two{
    top: 50%;
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    transform: scale(1, 2);
    color: rgb(106, 255, 6);
    pointer-events: none;
    user-select: none;
}

#nike{
    position: absolute;
    top: 45%;
    z-index: 0;
    width: 100%;
    animation-duration:1.5s;
    animation-name: slidefromtop;
    opacity: 1;
    pointer-events: none;
    user-select: none;
}
@keyframes slidefromtop {
    from{
        top: -30%;
    }
}
section h2 {
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 0;
    text-transform: uppercase;
    width: 50%;
    font-size: 90px;
    pointer-events: none;
    user-select: none;
    line-height: 1;
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    transform: scale(1, 2);
    color: #f4f4f4;
}

.char:hover{
    color: rgb(106, 255, 6);
}

.button-27 {
    position: absolute;
    top: 50%;
    right: 100px;
    background-color: rgb(106, 255, 6);
  border: none;
  border-radius: 18px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 550;
  line-height: normal;
  padding: 10px 10px;
  text-transform: uppercase;
}

section:nth-child(2) {
  background-image: url('./5.jpg ');
  mix-blend-mode: difference;
  mix-blend-mode: color;
}

section:nth-child(3) {
  background-image: url('./2.jpg');
  z-index: 1;
  }

